/*InitialPage Styles*/
#wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.versionbox {
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
    text-align: center;
}

/*Sub Header Styles */
#navbarDropdown {
    color: #ffffff !important;
}



/* Vue Select Styles*/
#vs1__listbox, #vs2__listbox, #vs3__listbox {
    font-size: 11px;
}

.vs__selected-options .vs__selected {
    font-size: 12px !important;
}


/* Styles for Tables */
.VueTables {
    font-size: .6rem !important;
}
.VueTables .table-responsive table .VueTables__row td {
    padding: 4px 2px 4px 10px !important;
}

.VueTables .table-responsive table thead th {
    background: #3490dc !important;
    color: white;
    font-size: 13px;
    text-align: center !important;
}

.VueTables .table-responsive table thead th:nth-child(1) {
    width: 220px !important;
}
.VueTables .table-responsive table thead th:nth-child(2) {
    width: 220px !important;
}
.VueTables .table-responsive table thead th:nth-child(3) {
    width: 150px !important;
}
.VueTables .table-responsive table thead th:nth-child(4) {
    width: 130px !important;
}
.VueTables .table-responsive table thead th:nth-child(5) {
    width: 50px !important;
}
.VueTables .table-responsive table thead th:nth-child(6) {
    width: 50px !important;
}
.VueTables .table-responsive table thead th:nth-child(7) {
    width: 50px !important;
}
.VueTables .table-responsive table thead th:nth-child(8) {
    width: 160px !important;
}
.VueTables .table-responsive table thead th:nth-child(9) {
    width: 100px !important;
}
.VueTables .table-responsive table thead th:nth-child(10) {
    width: 100px !important;
}
.VueTables .table-responsive table thead th:nth-child(11) {
    width: 200px !important;
}
.VueTables .table-responsive table thead th:nth-child(12) {
    width: 100px !important;
}
.VueTables .table-responsive table thead th:nth-child(13) {
    width: 100px !important;
}
.VueTables .table-responsive table thead th:nth-child(14) {
    width: 160px !important;
}


.VueTables__search-field label {
    display: inline-block !important;
    margin-right: 5px;
}
.VueTables__limit,
.VueTables__search {
    display: inline-block !important;
    margin-right: 20px !important;
}

.VueTables__limit-field label {
    display: inline-block !important;
    margin-right: 5px;
}
.VueTables__limit-field select {
    height: calc(1.5em + 0.5rem + 2px) !important;
}

input.VueTables__search__input {
    height: calc(1.5em + 0.5rem + 2px) !important;
    padding: 0.25rem 0.5rem !important;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    width: 300px !important;
}
